.logo{
    position: absolute;
    border-radius: 50%;
    border: 12px solid #e7b645;
    height: 160px;
    top: -12px;
    left: -11px;
}

.centerEdu{
    position: relative;
    border: 15px solid transparent;
    border-radius: 50%;
    background-color: white;
    height: 160px;
    width: 160px;
    top: 34vmin;
    left: 15.5%;
}

.blueCON{
    position: absolute;
    background-color: #101b3be2;
    height: 600px;
    width: 350px;
    top: 50px;
    border-radius: 0 900px 900px 0;
}
.heading{
    color: white;
    background-color: #101b3b;
    text-align: center;
    width: 29%;
    height: 48px;
    position: absolute;
    right: 29%;
    top: 5%;
    font-size:34px ;
    font-family: "DM Serif Display", serif;
    border-radius: 5vmin;
}

.educationQ{
    position: absolute;
    right: 48.6%;
    top: 24.6%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

.line3{
    position: absolute;
    height: 263px;
    width: 3px;
    left: 30.4%;
    top: 24.2%;
    background-color: #101b3b;
}

.line4{
    position: absolute;
    height: 43px;
    width: 2px;
    left: 57.2%;
    top: 24.2%;
    background-color: #101b3b;
}

.educationQh{
    position: absolute;
    left: 30.2%;
    top: 19%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

.experienceQh{
    position: absolute;
    left: 56.9%;
    top: 19%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}
.experienceQ{
    position: absolute;
    left: 58.4%;
    top: 24.6%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}
.experienceQ SPan{
    top: 27.6%;
}

.line5{
    position: absolute;
    height: 43px;
    width: 2px;
    left: 57.2%;
    top: 36.2%;
    background-color: #101b3b;
}

.achivementsQ{
    position: absolute;
    left: 58.4%;
    top: 36.6%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

.achivementsQh{
    position: absolute;
    left: 56.9%;
    top: 31%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}


.langQ{
    position: absolute;
    left: 58.4%;
    top: 48.6%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

.langQh{
    position: absolute;
    left: 56.9%;
    top: 43%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}
.line6{
    position: absolute;
    height: 69px;
    width: 2px;
    left: 57.2%;
    top: 48.2%;
    background-color: #101b3b;
}
.line7{
    position: absolute;
    height: 187px;
    width: 3px;
    right: 16.6%;
    top: 24.2%;
    background-color: #101b3b;
}
.skillsQ{
    position: absolute;
    right: 11%;
    top: 24.6%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

.skillsQh{
    position: absolute;
    right: 10%;
    top: 19%;
    color: #101b3b;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

@media only screen and (max-width: 600px) {
    /* .logo{
        position: absolute;
        border-radius: 50%;
        border: 12px solid #e7b645;
        height: 160px;
        top: -12px;
        left: -11px;
    } */
    
    .centerEdu{
      display: none;
    }
    
    .blueCON{
        position: absolute;
        background-color: #101b3be2;
        height: 925px;
        width: 490px;
        top: 0px;
        border-radius: 0 0 0 0; 
    }
    .heading{
        width: 400px;
        height: 48px;
        left: 25px;
        top: 70px;
    }
    
    .educationQ{
        left: 18.6%;
        top: 24.6%;
        color: #ffffff;
        width: 800px;
    }
    
    .line3{
        position: absolute;
        height: 740px;
        width: 3px;
        left: 17%;
        top: 20%;
        background-color: #ffffff;
    }
    
    .line4{
      display: none;
    }
    
    .educationQh{
        position: absolute;
        left: 18.2%;
        top: 19%;
        color: #fcfcfc;
    }
    
    .experienceQh{
        left: 18.1%;
        top: 60%;
        color: #ffffff;
    }
    .experienceQ{
        left: 18.1%;
        top: 65.6%;
        color: #ffffff;
    }
    
    .line5{
display: none;
    }
    
    .achivementsQ{
        left: 18.1%;
        top: 74.6%;
        color: #ffffff;
}
    
    .achivementsQh{
        left: 18.1%;
        top: 69%;
        color: #ffffff;    
}
    
    
    .langQ{
        left: 18.1%;
        top: 84.6%;
        color: #ffffff;
        text-align: justify;
        font-family: "Nunito", sans-serif;
    }
    
    .langQh{
        left: 18.1%;
        top: 79%;
        color: #ffffff;
    }
    .line6{
       display: none;
    }
    .line7{
       display: none;
    }
    .skillsQ{
        position: absolute;
        left: 18.1%;
        top: 100%;
        color: #ffffff;    
}
    
    .skillsQh{
        left: 18.1%;
        top: 94%;
        color: #ffffff;
    }
}