*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url("white-paper-texture.jpg");
/*     background-color: white; */
}

.profilePic{
    position: absolute;
    right: 0vmin;
    height: 100vmin;
    /* border-left: 4px solid #e7b745; */
    /* box-shadow: #20315a; */
}
.container1{
    position: absolute;
    height: 400px;
    width: 30%;
    left: 9.9vmax;
    top:19vh;
}
.hithere{
    position: relative;
    color: #101b3b;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    top:58px;
    left: 120px;
}

#im{
    color: #101b3b;
    font-size: 50px;
    font-family: "Nunito", sans-serif;
    position: relative;
    top:18px;
    left: 66px;
}

#name{
    position: relative;
    width: 394px;
    font-family: "Kanit", sans-serif;
    color: #e7b745;  top:-59px;
    font-size: 53.9px;
    left: 146px;
}

.box{
    position: relative;
    background-color: #e7b745;
    width: 210px;
    height: 24.6px;
    top:-78px;
    left: 67px;
    border-radius: 5vmin;
}

.box span{
    position: relative;
    left: 15px;
    top:0px;
}

.box span::before{
    content: "FONT-END DEVELOPER";
    color: white;
    font-family: "Kanit", sans-serif;
    animation: words 20s steps(14) infinite;
}
.box span::after{
    content: "";
    color: white;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #e7b745; 
    border-left: 2px solid white;
    right: -8px;
    top: 0px;
    animation: cursor .8s infinite, typing 25s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid white;
    }
}

@keyframes words{
    0%,25%{
        content: "FONT-END DEVELOPER";
    } 26%,50%{
        content: "SOFTWARE DEVELOPER";
    } 51%,75%{
        content: "PHOTOGRAPHER";
    } 76%,100%{
        content: "DESIGNER";
    }
}

@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.summery{
    position: relative;
    color: #101b3b;
    font-family: "Nunito", sans-serif;
    left: 67px;
    top:-71px;
    width: 450px;
}

.More-About{
    position: relative;
    background-color: #e7b745;
    width: 140px;
    height: auto;
    top:-60px;
    left: 67px;
    border: 0px;
    border-radius: 5vmin;
    text-align: center;
    font-family: "Kanit", sans-serif;
    color: white;
    transition: background-color ease 1s;
    transition: color ease .5s;
}

.More-About:hover{
    
    color: #e7b745;
    background-color: white;
    border:1px solid #e7b745;
}

.navbar{
    background-color: rgb(231, 183, 69) ;
    width: 50px;
    height: 330px;
    border-radius: 40px;
    position: relative;
    left: 5.1px;
    top:5.3px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: box-shadow ease .3s;
}

.navbar:hover{  box-shadow: 0px 1px 7px 1px rgba(16, 27, 59, 0.406);}
.linkedin{
    position: absolute;
    left: 290px;
    top:389px;
}

.linkedin img{
    border-radius: 2px;
}
.homew{
    bottom: 120px;
}.homeText{bottom: 130px;}
.aboutw {
    bottom: 50px;
}.aboutText{bottom: 60px;}
.projw {
    top: -20px;
    /* height: 30px; */
}.projText{top: -8px;}
.eduw {
    top: 50px;
}.eduText{top:60px;}
.chatw {
    top: 120px;
    /* height: 30px; */
}.chatText{ top: 134px;}

.home,
.about,
.proj,
.edu,
.chat{
    position: absolute;
    left: 5px;
    height: 1px;
    width: 1px;
    background-color: #e7b745;
    border: none;
    /* justify-content: center; */
    /* border-radius: vmin; */
    /* color: #e7b745; */
}

.homew,
.aboutw,
.projw,
.eduw,
.chatw{
   height: 40px;
   position: absolute;
   border-radius: 20px;
}

.homew:hover,
.aboutw:hover,
.projw:hover,
.eduw:hover,
.chatw:hover{
   height: 41px;
}

.homePage1,.aboutPage1,.projPage1,.eduPage1,.chatPage1{
   animation: fade1n 1s;
}
@keyframes fade1n{from{opacity: 0;}to{opacity: 1;}}
.homePage,.aboutPage,.projPage,.eduPage,.chatPage{
    display: none;
} 
.navbar{
    animation: fade1n 2s;
}

.homeText,.aboutText,.projText,.eduText,.chatText{
    opacity: 0;
    position: absolute;
    font-family: "Kanit", sans-serif;/* font-family: "Lato", sans-serif; */
    color: white;
    left:50px;
    width: 110px;
    text-align: justify;
    opacity: 0;
    font-size: 15px;
    transition: opacity 2s linear;
    text-align: center;
    border-radius: 20px;
    transition: color linear 1s; 
    transition: box-shadow ease .5s;
}
.homew:hover + .homeText,
.aboutw:hover + .aboutText,
.projw:hover + .projText,
.eduw:hover + .eduText,
.chatw:hover + .chatText{
    box-shadow: 0px 1px 8px 1px rgba(16, 27, 59, 0.272);
   opacity: 1;
   background-color:  #e7b745;
}

/* Small displays (mobile) */
@media only screen and (max-width: 600px) {
    
.profilePic {
   display: none;
}
.container1{
    position: absolute;
    /* display: inline-flex; */
    align-items: center;
    width: 0px;
    margin: 0;
    padding: 0;
    left: 0vmax;
    top:19vh;
    background-color: #ffffff62;
    height: 80px;
    /* width: 855px; */
}

.navbar{
    width: 378px;
    height: 50px;
    border-radius: 0;
    position:fixed absolute;
    left: -20px;
    top:-90px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow ease .3s;
}
.homew{
    left: 10%;
}
.aboutw {
    left: 70px;
}
.projw {
    left: 150px;
    /* height: 30px; */
}
.eduw {
    left: 240px;
}
.chatw {
    left: 320px;
    /* height: 30px; */
}

.home,
.about,
.proj,
.edu,
.chat{
    position: absolute; 
    top: 50px;
    height: 1px;
    width: 1px;
    background-color: #e7b745;
    border: none;

}

.homew,
.aboutw,
.projw,
.eduw,
.chatw{
    top: -45px;
   height: 40px;
   position: absolute;
   border-radius: 5vmin;
}
.homeText,.aboutText,.projText,.eduText,.chatText{
    opacity: 0;
    left:105px;
    width: 110px;
    text-align: justify;
    font-size: 15px;
    transition: opacity 2s linear;
    text-align: center;.container1{
    position: absolute;
    height: 400px;
    width: 30%;
    left: 9.9vmax;
    top:19vh;
}
    top: 5px;
}
.homew:hover + .homeText,
.aboutw:hover + .aboutText,
.projw:hover + .projText,
.eduw:hover + .eduText,
.chatw:hover + .chatText{
    box-shadow: 0px 1px 8px 1px rgba(16, 27, 59, 0);
   opacity: 0;
   background-color: transparent;
}
.hithere{
    width: 150px;
    top:58px;
    left: 30px;
}

#im{
    font-size: 31px;
    top:-1.3px;
    left: 186px;
}

#name{
    width: 394px;
    font-family: "Kanit", sans-serif;
    color: #e7b745;  top:-34px;
    font-size: 49px;
    left: 10px;
}

.box{
    top:-48px;
    left: 79px;
}

.summery{
    position: relative;
    color: #101b3b;
    font-family: "Nunito", sans-serif;
    left: 6px;
    top:-41px;
    width: 350px;
}

.More-About{
    top:-40px;
    left: 107px;
}
}
